


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
/**umb_name:Font Size 14*/ .font-size-14 { font-size: 14px; }
/**umb_name:Font Size 16*/ .font-size-16 { font-size: 16px; }
/**umb_name:Font Size 18*/ .font-size-18 { font-size: 18px; }
/**umb_name:Font Size 20*/ .font-size-20 { font-size: 20px; }
/**umb_name:Font Size 22*/ .font-size-22 { font-size: 22px; }
/**umb_name:Font Size 24*/ .font-size-24 { font-size: 24px; }
/**umb_name:Font Size 26*/ .font-size-26 { font-size: 26px; }
/**umb_name:Font Size 28*/ .font-size-28 { font-size: 28px; }
/**umb_name:Font Size 30*/ .font-size-30 { font-size: 30px; }
/**umb_name:Font Size 32*/ .font-size-32 { font-size: 32px; }
/**umb_name:Font Size 34*/ .font-size-34 { font-size: 34px; }
/**umb_name:Font Size 36*/ .font-size-36 { font-size: 36px; }
/**umb_name:Font Size 38*/ .font-size-38 { font-size: 38px; }
/**umb_name:Font Size 40*/ .font-size-40 { font-size: 40px; }
/**umb_name:Font Size 42*/ .font-size-42 { font-size: 42px; }
/**umb_name:Font Size 44*/ .font-size-44 { font-size: 44px; }
/**umb_name:Font Size 46*/ .font-size-46 { font-size: 46px; }
/**umb_name:Font Size 48*/ .font-size-48 { font-size: 48px; }

