


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.imagePadding {
margin: 15px 30px 15px 15px; float: left;
}

.oCmsLeftColumn {

}

.oCmsRightColumn {

}

.hpColumnTitle {
font: normal 30px/33px 'franklin_gothic_fs_bookRg', Arial, Helvetica, sans-serif; color: #E56B1E; text-transform: uppercase; margin-bottom: 8px;
}

.hpStoryTitle {
font: bold 14px/18px Arial, Helvetica, sans-serif; margin-bottom: 0; color: #333;
}

h1 {

}

.fancyboxLink {

}

.hiddenPopup {

}

.imagePaddingExtra {
margin: 15px 40px 15px 15px; float: left;
}

.imagePaddingRight {
margin: 15px 15px 15px 30px !important; float: right;
}

.imagePaddingRightExtra {
margin: 15px 15px 15px 40px !important; float: right;
}

.clearImage {
clear: left;
}

.boldHeadline {
font-weight: bold; margin-bottom: 8px;
}

h2 {
font-size: 35px;
}

h3 {
font-size: 24px;
}

h4 {
font-size: 18px;
}

.payBillButton {

}

.lastParagraph {

}

.aeBio {

}

.aeExpertise {

}

.aeWrap {

}

.h4-top-margin {
	margin-top: 10px;
}



/**umb_name:imagePadding*/
.imagePadding{margin: 15px 30px 15px 15px; float: left;}

/**umb_name:leftColumn*/
.oCmsLeftColumn{}

/**umb_name:rightColumn*/
.oCmsRightColumn{}

/**umb_name:Hp Column Title*/
.hpColumnTitle{font: normal 30px/33px 'franklin_gothic_fs_bookRg', Arial, Helvetica, sans-serif; color: #E56B1E; text-transform: uppercase; margin-bottom: 8px;}

/**umb_name:Hp Story Title*/
.hpStoryTitle{font: bold 14px/18px Arial, Helvetica, sans-serif; margin-bottom: 0; color: #333;}

/**umb_name:H1*/
h1{}

/**umb_name:imagePaddingExtra*/
.imagePaddingExtra{margin: 15px 40px 15px 15px; float: left;}

/**umb_name:imagePaddingRight*/
.imagePaddingRight{margin: 15px 15px 15px 30px !important; float: right;}

/**umb_name:imagePaddingRightExtra*/
.imagePaddingRightExtra{margin: 15px 15px 15px 40px !important; float: right;}

/**umb_name:clearImage*/
.clearImage{clear: left;}

/**umb_name:boldHeadline*/
.boldHeadline{font-weight: bold; margin-bottom: 8px;}

/**umb_name:H2*/
h2{font-size: 35px;}

/**umb_name:H3*/
h3{font-size: 24px;}

/**umb_name:H4*/
h4{font-size: 18px;}

/**umb_name:payBillButton*/
.payBillButton{}

/**umb_name:lastParagraph*/
.lastParagraph{}

/**umb_name:aeBio*/
.aeBio{}

/**umb_name:aeExpertise*/
.aeExpertise{}

/**umb_name:aeWrap*/
.aeWrap{}